<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Progress Tracking - TrueSkin</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        position: relative;
      "
    >
      <div class="return-button" style="position: absolute; left: 20px">
        <a href="/" class="back-to-home">Back to Homepage</a>
      </div>
      <div class="logo" style="text-align: center; margin: 0 auto">
        <h1>TrueSkin</h1>
        <p>Unveiling the Truth in Skincare</p>
      </div>
    </header>
  </body>
</html>
